<div class= "container-for-sample">

  <div class= "title-show">
    <h3 class= "centered separated">Muestra daños #<%=@damage_sample.id%></h3>
  </div>

  <table class = "table table-striped table-tight">
    <thead>
      <tr>
        <th>Creacion</th>
        <th>Resp</th>
        <th>Tarja</th>
        <th>Tipo</th>
        <th>Orden</th>
        <th>Ex tarja</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%=date_time(@damage_sample.created_at)%></td>
          <td><%= @damage_sample.responsable.truncate(12) %></td>
          <td><%= @damage_sample.element.tag%></td>
          <td><%= @damage_sample.element.drying_method.name%></td>
          <td><%= @damage_sample.element.process_order %></td>
          <td><%= @damage_sample.element.ex_tag %></td>
        </tr>
    </tbody>
  </table>
  <br>



  <table class = "table table-striped table-tight">
    <thead>
      <tr>
        <th>USDA: <%= @damage_sample.usda %></th>
        <th>DF07: <%= short_status(@damage_sample) %></th>
      </tr>
    </thead>

  </table>

  <br>











  <table class = "table table-striped display-weight">
    <thead>
      <tr>
        <th>Peso muestra</th>
        <th><%=@damage_sample.sample_weight%> g</th>
      </tr>
    </thead>
  </table>


  <table class = "table table-striped display-damages">
    <thead>
      <tr>
        <th>Daño</th>
        <th>g</th>
        <th>%</th>
      </tr>
    </thead>

    <tbody>

      <%@damages_list.each do |dam|%>
        <tr>
          <td><%=translate_damage(dam)%></td>
          <td><%=@damage_sample.send(dam)%></td>
          <td><%=round_or_nil(@damage_sample.send(dam+ "_perc"), 1)%></td>
        </tr>
      <%end%>
      <tr class = "total success">
        <td>Total</td>
        <td><%=@damage_sample.total_damages%></td>
        <td><%=@damage_sample.total_damages_perc.round(1)%></td>
      </tr>
    </tbody>
  </table>

  <br>

  <div class = "links-below-show" >
  <%= link_back_from_show(user_type)%> <!-- Link to new or index  -->
</div>
</div>

<br>
