
<div class="field">
  <%= f.label :scars %>
  <%= f.number_field :scars %>
</div>

<div class="field">
  <%= f.label :mold %>
  <%= f.number_field :mold %>
</div>

<div class="field">
  <%= f.label :decay %>
  <%= f.number_field :decay %>
</div>

<div class="field">
  <%= f.label :deshidratado %>
  <%= f.number_field :deshidratado %>
</div>

<div class="field">
  <%= f.label :bolsa_de_agua %>
  <%= f.number_field :bolsa_de_agua %>
</div>

<div class="field">
  <%= f.label :ruset %>
  <%= f.number_field :ruset %>
</div>

<div class="field">
  <%= f.label :reventados %>
  <%= f.number_field :reventados %>
</div>
