<%= form_for(damage_sample, html: {class: 'inside-new-form green-inside-new-form'}) do |f| %>

<%= hidden_field_tag :process, @process%>

<div style="width: 100%;">
 <div style="float:left; width: 45%">
<!--Items at the left  -->

  <div class="field">
    <%= f.label :responsable, class: "vertical" %>
    <%= f.text_field :responsable, class: "vertical" %>
  </div>

  <% if form == "new"  %>
    <div class="field">
      <%= f.label :tarja, class: "vertical"  %>
      <%= text_field_tag :tag, '', class: "vertical", autocomplete: 'off'%>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :peso_muestra, class: "vertical"  %>
    <%= f.text_field :sample_weight, class: "vertical", autocomplete: :off, placeholder: ' gramos' %>
  </div>

</div>


 <div style="float:right;">
   <!--Items at right  -->

   <%= render get_form(@process), f: f %>



 </div>
</div>
<div style="clear:both"></div>

<%= render 'shared/buttons', f: f, form_type: form%>

<% end %>
