<%= form_for(damage_sample, html: {class: 'inside-new-form green-inside-new-form'}) do |f| %>



<div style="width: 100%;">
 <div style="float:left; width: 45%">
<!--Items at the left  -->
<div class="field">
  <!-- class: "little"  -->
  <%= f.label :responsable, class: "vertical" %>
  <%= f.text_field :responsable, class: "vertical" %>
</div>

<div class="field">
  <%= f.label :element_id, class: "vertical"  %>
  <%= f.text_field :element_id, class: "vertical" %>
</div>

<div class="field">
  <%= f.label :peso_muestra, class: "vertical"  %>
  <%= f.text_field :sample_weight, class: "vertical" %>
</div>
</div>



<div style="float:right;">
  <!--Items at right  -->
  <div class="field">
    <%= f.label :poor_texture %>
    <%= f.number_field :poor_texture %>
  </div>

  <div class="field">
    <%= f.label :scars %>
    <%= f.number_field :scars %>
  </div>

  <div class="field">
    <%= f.label :daño_piel_o_pulpa %>
    <%= f.number_field :skin_or_flesh_damage %>
  </div>

  <div class="field">
    <%= f.label :fermentation %>
    <%= f.number_field :fermentation %>
  </div>


  <div class="field">
    <%= f.label :heat_damage %>
    <%= f.number_field :heat_damage %>
  </div>

  <div class="field">
    <%= f.label :insect_injury %>
    <%= f.number_field :insect_injury %>
  </div>

  <div class="field">
    <%= f.label :mold %>
    <%= f.number_field :mold %>
  </div>

  <div class="field">
    <%= f.label :dirt %>
    <%= f.number_field :dirt %>
  </div>

  <div class="field">
    <%= f.label :foreign_material %>
    <%= f.number_field :foreign_material %>
  </div>

  <div class="field">
    <%= f.label :insect_infestation %>
    <%= f.number_field :insect_infestation %>
  </div>

  <div class="field">
    <%= f.label :decay %>
    <%= f.number_field :decay %>
  </div>




</div>
</div>
<div style="clear:both"></div>

<div class="actions">
 <%= f.submit "Guardar",  class: "btn btn-primary btn-lg btn-block" %>
</div>


<% end %>
