<p>
  <strong>Responsable:</strong>
  <%= @damage_sample.responsable %>
</p>

<p>
  <strong>Element:</strong>
  <%= @damage_sample.element %>
</p>

<p>
  <strong>Sample weight:</strong>
  <%= @damage_sample.sample_weight %>
</p>

<p>
  <strong>Off color:</strong>
  <%= @damage_sample.off_color %>
</p>

<p>
  <strong>Off color perc:</strong>
  <%= @damage_sample.off_color_perc %>
</p>

<p>
  <strong>Poor texture:</strong>
  <%= @damage_sample.poor_texture %>
</p>

<p>
  <strong>Poor texture perc:</strong>
  <%= @damage_sample.poor_texture_perc %>
</p>

<p>
  <strong>Scars:</strong>
  <%= @damage_sample.scars %>
</p>

<p>
  <strong>Scars perc:</strong>
  <%= @damage_sample.scars_perc %>
</p>

<p>
  <strong>End cracks:</strong>
  <%= @damage_sample.end_cracks %>
</p>

<p>
  <strong>End cracks perc:</strong>
  <%= @damage_sample.end_cracks_perc %>
</p>

<p>
  <strong>Skin or flesh damage:</strong>
  <%= @damage_sample.skin_or_flesh_damage %>
</p>

<p>
  <strong>Skin or flesh damage perc:</strong>
  <%= @damage_sample.skin_or_flesh_damage_perc %>
</p>

<p>
  <strong>Fermentation:</strong>
  <%= @damage_sample.fermentation %>
</p>

<p>
  <strong>Fermentation perc:</strong>
  <%= @damage_sample.fermentation_perc %>
</p>

<p>
  <strong>Heat damage:</strong>
  <%= @damage_sample.heat_damage %>
</p>

<p>
  <strong>Heat damage perc:</strong>
  <%= @damage_sample.heat_damage_perc %>
</p>

<p>
  <strong>Insect injury:</strong>
  <%= @damage_sample.insect_injury %>
</p>

<p>
  <strong>Insect injury perc:</strong>
  <%= @damage_sample.insect_injury_perc %>
</p>

<p>
  <strong>Mold:</strong>
  <%= @damage_sample.mold %>
</p>

<p>
  <strong>Mold perc:</strong>
  <%= @damage_sample.mold_perc %>
</p>

<p>
  <strong>Dirt:</strong>
  <%= @damage_sample.dirt %>
</p>

<p>
  <strong>Dirt perc:</strong>
  <%= @damage_sample.dirt_perc %>
</p>

<p>
  <strong>Foreign material:</strong>
  <%= @damage_sample.foreign_material %>
</p>

<p>
  <strong>Foreign material perc:</strong>
  <%= @damage_sample.foreign_material_perc %>
</p>

<p>
  <strong>Vegetal foreign material:</strong>
  <%= @damage_sample.vegetal_foreign_material %>
</p>

<p>
  <strong>Vegetal foreign material perc:</strong>
  <%= @damage_sample.vegetal_foreign_material_perc %>
</p>

<p>
  <strong>Insect infestation:</strong>
  <%= @damage_sample.insect_infestation %>
</p>

<p>
  <strong>Insect infestation perc:</strong>
  <%= @damage_sample.insect_infestation_perc %>
</p>

<p>
  <strong>Decay:</strong>
  <%= @damage_sample.decay %>
</p>

<p>
  <strong>Decay perc:</strong>
  <%= @damage_sample.decay_perc %>
</p>

<p>
  <strong>Deshidratado:</strong>
  <%= @damage_sample.deshidratado %>
</p>

<p>
  <strong>Deshidratado perc:</strong>
  <%= @damage_sample.deshidratado_perc %>
</p>

<p>
  <strong>Bolsa de agua:</strong>
  <%= @damage_sample.bolsa_de_agua %>
</p>

<p>
  <strong>Bolsa de agua perc:</strong>
  <%= @damage_sample.bolsa_de_agua_perc %>
</p>

<p>
  <strong>Ruset:</strong>
  <%= @damage_sample.ruset %>
</p>

<p>
  <strong>Ruset perc:</strong>
  <%= @damage_sample.ruset_perc %>
</p>

<p>
  <strong>Reventados:</strong>
  <%= @damage_sample.reventados %>
</p>

<p>
  <strong>Reventados perc:</strong>
  <%= @damage_sample.reventados_perc %>
</p>

<%= link_to 'Edit', edit_damage_sample_path(@damage_sample) %> |
<%= link_to 'Back', damage_samples_path %>
