<p>
  <strong>Creación:</strong>
  <%= date_time(@caliber_sample.created_at) %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @caliber_sample.responsable %>
</p>

<p>
  <strong>Tarja:</strong>
  <%= @caliber_sample.element.tag %>
</p>

<p>
  <strong>Peso muestra:</strong>
  <%= @caliber_sample.sample_weight %>
</p>
<p>
  <strong>Frutos en muestra:</strong>
  <%= @caliber_sample.fruits_in_sample %>
</p>

<p>
  <strong>Frutos por libra:</strong>
  <%= @caliber_sample.fruits_per_pound %>
</p>

<p>
  <strong>Calibre:</strong>
  <%= @caliber_sample.caliber.name %>
</p>


<%= link_to 'Atrás', :back,  class: "btn btn-primary btn-xs" %>
