<%= render 'shared/message_js', message: @message if @message %>

<div class= "container-for-sample">

  <%=render "shared/title_show", text: "Grupo Tarjas: #{@elements_group.first_tag} -> #{@elements_group.last_tag}"%>
<h2 class= "centered separated">
  <span><%=@elements_group.name%></span><br>
  <div class = "<%= translate_color(@elements_group.color)+ " box"%>"> </div>

  <div class = "<%= translate_color(@elements_group.color)+ " box"%>"> </div>
</h2>
  <!-- <br> -->
  <table class = "table table-striped table-tight">
    <thead>
      <tr>
        <!-- <th>Creación</th> -->
        <!-- <th>Responsable</th> -->
        <th colspan = "4"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= date_time(@elements_group.created_at) %></td>
        <td><%= @elements_group.responsable %></td>

        <% if @full_access%>
          <td><%= link_to 'Editar', edit_elements_group_path(@elements_group), class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Eliminar completamente', @elements_group, method: :delete, data: { confirm: 'Estas seguro? Será irreversible' }, class: "btn btn-danger btn-xs" %></td>
        <% end %>

      </tr>
    </tbody>
  </table>
  <!-- <br> -->

  <table class = "table table-striped table-tight">
    <thead>
      <tr>
        <th>Proveedor</th>
        <th>Lote</th>
        <th>Producto</th>
        <th>Secado</th>
        <th>Color</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @elements_group.provider %></td>
        <td><%= @elements_group.lot %></td>
        <td><%= @elements_group.product_type.name %></td>
        <td><%= @elements_group.drying_method.name %></td>
        <td><%= @elements_group.color%></td>

      </tr>
    </tbody>
  </table>
  <br>


  <table class = "table table-striped display-damages">
    <thead>
      <tr>
        <th colspan="3"><%="Tarjas (#{@q})"%></th>
      </tr>
    </thead>

    <tbody>

      <% (0..@q-3).step(3).each do |i| %>
          <tr>
            <td> <%= @elements[i].tag %> <% if @full_access%><%= link_to_remove_element(@elements[i]) %><%end%></td>
            <td> <%= @elements[i+1].tag %> <% if @full_access%><%= link_to_remove_element(@elements[i+1]) %><%end%></td>
            <td> <%= @elements[i+2].tag %> <% if @full_access%><%= link_to_remove_element(@elements[i+2]) %><%end%></td>
          </tr>
      <%end%>
          <tr>
            <%missed = @q%3 %>
            <% (@q-missed..@q-1).each do |i| %>
              <td> <%= @elements[i].tag %> <% if @full_access%><%= link_to_remove_element(@elements[i]) %><%end%></td>
            <%end%>
          </tr>
    </tbody>
  </table>
  <br>
<% if @full_access%>
    <%= form_tag(add_element_elements_group_path, method: :post) do %>
        <table class = "table table-striped add-element">
          <thead>
            <tr>
              <th><%= text_field_tag :tag, nil, autocomplete: 'off' %></th>
              <th><%= submit_tag 'Agregar tarja', name: nil, class: "btn btn-primary btn-sm margin0" %></th>
            </tr>
          </thead>
        </table>
        <% end %>
  <% end %>

  <br><br>



  <div class = "links-below-show" >
    <%= link_to 'Atrás', :back,  class: "btn btn-primary btn-xs" %>
  </div>
</div>

<br><br>

<%= render 'show_samples',
        dam_samples: @dam_samples,
        cal_samples: @cal_samples,
        humidity_samples: @humidity_samples,
        product_type: @product_type,
        damages_list: @damages_list
%>
