
<div class="container">
<h1>Muestras de Humedad Grupal</h1>
<%= paginate @humidity_samples %>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Creación</th>
      <th>Responsable</th>
      <th>Grupo de tarjas</th>
      <th>Humedad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humidity_samples.each do |humidity_sample| %>
        <tr>
        <td><%= humidity_sample.counter %></td>
        <td><%= date_time(humidity_sample.created_at) %></td>
        <td><%= humidity_sample.responsable %></td>
        <td><%= group_link(humidity_sample.group) %></td>
        <td><%= humidity_sample.humidity %></td>
        
        <%if access_edit_delete_sample_button%>
          <td><%= link_to 'Editar', edit_group_humidity_sample_path(humidity_sample),  class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Eliminar', group_humidity_sample_path(humidity_sample), method: :delete, data: { confirm: '¿Seguro que deseas eliminar la muestra?' },  class: "btn btn-danger btn-xs" %></td>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ingresar muestra de humedad grupal', new_group_humidity_sample_path,  class: "btn btn-primary btn-xs" %>
</div>
