<%= form_for(element, html: {class: 'validatable'}) do |f| %>
  <% if element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Tarja / Folio" %><br>
    <%= f.text_field :tag, autocomplete: 'off', disabled: element.persisted? %>
  </div>

  <div class="field">
    <%= f.label :Orden_de_proceso %><br>
    <%= f.text_field :process_order, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :Tipo_de_producto %><br>
    <%= f.select "product_type_id",  options_for_select(ProductType.all.map{|pt| [pt.name,pt.id]}, @element.product_type_id | 0), include_blank: true %>

  </div>

  <div class="field">
    <%= f.label :Tipo_de_secado %><br>
    <%= f.select "drying_method_id",  options_for_select(DryingMethod.all.map{|dm| [dm.name,dm.id]}, @element.drying_method_id | 0), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :USDA_anterior %><br>
    <%= f.select "previous_usda",  options_for_select([:A, :B, :C, :SSTD, :'no califica'], @element.previous_usda), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :ex_tarja %><br>
    <%= f.text_field :ex_tag, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit :Aceptar, class: "btn btn-primary btn-lg btn-block" %>
  </div>

<% end %>
