  <div class="container">
    <h2 class= "centered separated">Productos</h2>
    
    <!-- Form para buscar elements -->
    <%= form_tag(elements_path, method: :get) do %>
      <%= text_field_tag :term, nil, placeholder: 'Buscar una tarja' %>
      <%= submit_tag 'Buscar', name: nil %>
    <% end %>

  <table class = "table table-striped">
  <thead>
    <tr>
      <th>Tarja</th>
      <th>Fecha</th>
      <th>Lote</th>
      <th>Orden</th>
      <th>Tipo producto</th>
      <th>Tipo secado</th>
      <th>USDA anterior</th>
      <th>Tarja anterior</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.tag %></td>
        <td><%= date_time(element.created_at) %></td>
        <td><%= element.lot %></td>
        <td><%= element.process_order %></td>
        <td><%= element.product_type.name.upcase unless element.product_type.nil? %></td>
        <td><%= element.drying_method.name unless element.drying_method.nil? %></td>
        <td><%= element.previous_usda %></td>
        <td><%= element.ex_tag %></td>
        <td><%= link_to 'Ver', element, class: "btn btn-primary btn-xs" %></td>
        <% if access_edit_element_button %>
          <td><%= link_to 'Editar', edit_element_path(element),  class: "btn btn-warning btn-xs" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
