<div class= "container-table">
<h2 class= "centered separated">
  <div class = "<%= translate_color(@element.color)+ " box"%>"> </div>
  Tarja/Folio <span><%=@element.tag%></span>
  <div class = "<%= translate_color(@element.color)+ " box"%>"> </div>
</h2>

<!-- TODO Se podria agregar una tablita que muestre cant. de muestras de cada tipo  -->
<table class = "table table-striped table-tight">
  <thead>
    <tr>
      <th>#</th>
      <th>Producto</th>
      <th>Lote</th>
      <th>Orden</th>
      <th>Tipo</th>
      <th>Primera muestra</th>
      <th>Color</th>

      <th>Ex tarja</th>
      <th>USDA anterior</th>

      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <!-- <tr> -->
        <tr class= "<%= colored_rows_with_color(@element.color)%>" >
        <td><%= @element.id %></td>
        <td><%= @product_type.upcase if @product_type %></td>
        <td><%= @element.lot %></td>
        <td><%= @element.process_order %></td>
        <td><%= @element.drying_method.name if @element.drying_method%></td>
        <td><%= date_time(@element.created_at)%></td>
        <td><%= @element.color %></td>

        <td><%= @element.ex_tag %></td>
        <td><%= @element.previous_usda %></td>
        <% if access_edit_element_button %>
        <td><%= link_to 'Editar producto', edit_element_path(@element),  class: "btn btn-warning btn-xs" %></td>
        <% end %>
      </tr>
  </tbody>
</table>
</div>
<br><br>

<!-- Se muestran las muestras de daños  -->
<%if @dam_samples%>
    <div class= "container-table">
    <h3 class= "centered separated">Muestras de Daños (<%=@dam_samples.count%>)</span></h3>

    <table class = "table table-striped table-tight">
      <thead>
        <tr>
          <th>#</th>
          <th></th>

          <%=common_table_headers%>
          <th>USDA</th>
          <th>DF07</th>

          <%=table_headers_damages(" (%)")%>
          <th>Total (%)</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @dam_samples.each do |damage_sample| %>
          <tr>
            <td><%= damage_sample.counter %></td>
            <td><%= date_time(damage_sample.created_at)%></td>

            <%=common_table_body(damage_sample)%>
            <td><%= damage_sample.usda %></td>
            <td><%= short_status(damage_sample) %></td>


            <%=table_body_damages(damage_sample, "%")%>
            <td><%=damage_sample.total_damages_perc.round(1)%></td>

            <td><%= link_show_sample(damage_sample, "damage_sample", @product_type) %></td>
            <% if access_edit_delete_sample_button %>
              <td><%= link_edit_sample(damage_sample, "damage_sample", @product_type) %></td>
              <td><%= link_delete_sample(damage_sample, "damage_sample", @product_type) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%end%>
<br>


<!-- Se muestran las muestras de calibre y desviación  -->
<% if @cal_samples %>
    <div class="container">
    <h3 class= "centered separated">Muestras de calibre (<%= @cal_samples.count%>)</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Creación</th>
          <th>Responsable</th>
          <th>Tarja</th>
          <th>Frutos x libra</th>
          <th>Calibre</th>
          <th>Desviación</th>
          <th>Estado</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @cal_samples.each do |caliber_sample| %>
          <tr>
            <td><%= caliber_sample.counter %></td>
            <td><%= date_time(caliber_sample.created_at) %></td>
            <td><%= caliber_sample.responsable.truncate(14) %></td>
            <td><%= caliber_sample.element.tag %></td>
            <td><%= caliber_sample.fruits_per_pound %></td>
            <td><%= caliber_sample.caliber.name %></td>

            <td><%= caliber_sample.deviation_sample.deviation.round(1) if caliber_sample.deviation_sample  %></td>

            <%if caliber_sample.deviation_sample%>
              <td><%= caliber_sample.deviation_sample.status%></td>
            <%else%>
              <td>no aplica</td>
            <%end%>

            <td><%= link_show_sample(caliber_sample, "caliber_sample", @product_type) %></td>
            <% if access_edit_delete_sample_button %>
              <td><%= link_edit_sample(caliber_sample, "caliber_sample", @product_type) %></td>
              <td><%= link_delete_sample(caliber_sample, "caliber_sample", @product_type) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%end%>
<br>


<!-- Muestras de humedad -->
<% if @humidity_samples %>
    <div class="container">
    <h3 class= "centered separated">Muestras de Humedad (<%=@humidity_samples.count%>)</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Creación</th>
          <th>Responsable</th>
          <th>Tarja</th>
          <th>Humedad</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @humidity_samples.each do |humidity_sample| %>
            <tr>
            <td><%= humidity_sample.counter %></td>
            <td><%= date_time(humidity_sample.created_at) %></td>
            <td><%= humidity_sample.responsable %></td>
            <td><%= humidity_sample.element.tag %></td>
            <td><%= humidity_sample.humidity %></td>

            <td><%= link_to 'Ver', humidity_sample,  class: "btn btn-primary btn-xs" %></td>
            <% if access_edit_delete_sample_button %>
              <td><%= link_to 'Editar', edit_humidity_sample_path(humidity_sample),  class: "btn btn-warning btn-xs" %></td>
              <td><%= link_to 'Eliminar', humidity_sample, method: :delete, data: { confirm: 'Estas seguro?' },  class: "btn btn-danger btn-xs" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
<%end%>


<!-- Muestras de sorbato -->
<% if @sorbate_samples %>
    <div class="container">

    <h3 class= "centered separated">Muestras de Sorbato (<%=@sorbate_samples.count%>)</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Creación</th>
          <th>Responsable</th>
          <th>Tarja</th>
          <th>Sorbato</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sorbate_samples.each do |sorbate_sample| %>
          <tr>
            <td><%= sorbate_sample.counter %></td>
            <td><%= date_time(sorbate_sample.created_at) %></td>
            <td><%= sorbate_sample.responsable %></td>
            <td><%= sorbate_sample.element.tag %></td>
            <td><%= sorbate_sample.sorbate %></td>

            <td><%= link_to 'Ver', sorbate_sample,  class: "btn btn-primary btn-xs" %></td>
            <% if access_edit_delete_sample_button %>
              <td><%= link_to 'Editar', edit_sorbate_sample_path(sorbate_sample),  class: "btn btn-warning btn-xs" %></td>
              <td><%= link_to 'Eliminar', sorbate_sample, method: :delete, data: {confirm: 'Estas seguro?' },  class: "btn btn-danger btn-xs" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

<%end%>

<!-- Muestras de carozo -->
<% if @carozo_samples %>
    <div class="container">
    <h3 class= "centered separated">Muestras de Carozo (<%=@carozo_samples.count%>)</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Creación</th>
          <th>Responsable</th>
          <th>Tarja</th>
          <th>Con carozo (gr)</th>
          <th>Peso muestra (gr)</th>
          <th>Porcentaje carozo (%)</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @carozo_samples.each do |carozo_sample| %>
          <tr>
            <td><%= carozo_sample.counter %></td>
            <td><%= date_time(carozo_sample.created_at)%></td>
            <td><%= carozo_sample.responsable %></td>
            <td><%= carozo_sample.element.tag %></td>
            <td><%= carozo_sample.carozo_weight %></td>
            <td><%= carozo_sample.sample_weight %></td>
            <td><%= carozo_sample.carozo_percentage %></td>

            <td><%= link_show_sample(carozo_sample, "carozo_sample", @product_type) %></td>
            <% if access_edit_delete_sample_button %>
              <td><%= link_edit_sample(carozo_sample, "carozo_sample", @product_type) %></td>
              <td><%= link_delete_sample(carozo_sample, "carozo_sample", @product_type) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
<%end%>
