<p id="notice"><%= notice %></p>

<h1>Calibrado Caliber Samples</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calibrado_caliber_samples.each do |calibrado_caliber_sample| %>
      <tr>
        <td><%= link_to 'Show', calibrado_caliber_sample %></td>
        <td><%= link_to 'Edit', edit_calibrado_caliber_sample_path(calibrado_caliber_sample) %></td>
        <td><%= link_to 'Destroy', calibrado_caliber_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calibrado Caliber Sample', new_calibrado_caliber_sample_path %>
