<p id="notice"><%= notice %></p>

<h1>Caliber Samples</h1>

<table>
  <thead>
    <tr>
      <th>Responsable</th>
      <th>Element</th>
      <th>Fruits per pound</th>
      <th>Caliber</th>
      <th>Fruits in sample</th>
      <th>Sample weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caliber_samples.each do |caliber_sample| %>
      <tr>
        <td><%= caliber_sample.responsable %></td>
        <td><%= caliber_sample.element %></td>
        <td><%= caliber_sample.fruits_per_pound %></td>
        <td><%= caliber_sample.caliber %></td>
        <td><%= caliber_sample.fruits_in_sample %></td>
        <td><%= caliber_sample.sample_weight %></td>
        <td><%= link_to 'Show', caliber_sample %></td>
        <td><%= link_to 'Edit', edit_caliber_sample_path(caliber_sample) %></td>
        <td><%= link_to 'Destroy', caliber_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caliber Sample', new_caliber_sample_path %>
