<% if sorbate_sample.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(sorbate_sample.errors.count, "error") %> prohibited this sorbate_sample from being saved:</h2>

  <ul>
    <% sorbate_sample.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class= "container-samples">
  <div class= "pestaña">Laboratorio</div>
    <div class="outside-new-form">
      <h1><span class= "glyphicon glyphicon-list-alt"></span> Sorbato</h1>


<%= form_for(sorbate_sample, html: {class: 'inside-new-form validatable'}) do |f| %>

  <%= f.hidden_field :responsable, value: logged_user.name %>

  <div class="field">
    <%= f.label :Tarja %>
    <%= text_field_tag :tag, '', autocomplete: 'off'%>
  </div>

  <div class="field">
    <%= f.label :"Sorbato (ppm)" %>
    <%= f.number_field :sorbate, step: 0.01 %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>


    </div>
  </div>
</div>
