<%= render 'shared/message_wrong_process_error_js', tag: @element.tag if session[:display_wrong_process_alert]%>

<% if @sorbate_sample.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@sorbate_sample.errors.count, "error") %> prohibited this sorbate_sample from being saved:</h2>
  <ul>
    <% @sorbate_sample.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class= "container-samples">
  <div class= "pestaña">Laboratorio</div>
    <div class="outside-new-form">
      <h1><span class= "glyphicon glyphicon-list-alt"></span> Editar Sorbato</h1>


<%= form_for(@sorbate_sample, html: {class: 'inside-new-form validatable', autocomplete: :off})  do |f| %>

  <div class="field">
    <%= f.label :Tarja %>
    <%= field_tag('edit', '', @sorbate_sample)%>
  </div>

  <div class="field">
    <%= f.label :Editar_Sorbato %>
    <%= f.number_field :sorbate, step: 0.01, min:0 %>

  </div>

  <div class="buttons-together-edit">
    <%= link_to 'Regresar', :back, class: "btn-back btn btn-primary btn-lg "%>
    <%= f.submit "Editar", class: "btn-edit btn btn-warning btn-lg" %>
  </div>

<% end %>

    </div>
  </div>
</div>
