<div class="container">

<h1>Muestras de Sorbato</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Creación</th>
      <th>Responsable</th>
      <th>Tarja</th>
      <th>Sorbato</th>
      <!-- <th>Estado</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorbate_samples.each do |sorbate_sample| %>
      <tr>
        <td><%= sorbate_sample.counter %></td>
        <td><%= date_time(sorbate_sample.created_at) %></td>
        <td><%= sorbate_sample.responsable %></td>
        <td><%= element_link(sorbate_sample.element) %></td>
        <td><%= sorbate_sample.sorbate %></td>
        <!-- <td> sorbate_sample.status </td> -->
        <td><%= link_to 'Ver', sorbate_sample,  class: "btn btn-primary btn-xs" %></td>
        <%if access_edit_delete_sample_button%>
          <td><%= link_to 'Editar', edit_sorbate_sample_path(sorbate_sample),  class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Eliminar', sorbate_sample, method: :delete, data: {confirm: 'Estas seguro?' },  class: "btn btn-danger btn-xs" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ingresar muestra de sorbato', new_sorbate_sample_path,  class: "btn btn-primary btn-xs" %>
</div>
