<%= render 'shared/message_success_js', sorbate_sample: @sorbate_sample %>
<%= render 'form', sorbate_sample: @sorbate_sample %>

<div class="container-500px">
  <h1>Ultimos muestras de Sorbato</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Tarja</th>
      <th>Responsable</th>
      <th>Sorbato</th>
      <th>Estado</th>
      <th>Creacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorbate_samples.each do |sorbate_sample| %>
      <tr>
        <td><%= sorbate_sample.element.tag %></td>
        <td><%= sorbate_sample.responsable %></td>
        <td><%= sorbate_sample.sorbate %></td>
        <td><%= sorbate_sample.status %></td>
        <td><%= time(sorbate_sample.created_at)%></td>

        <td><%= link_to 'Editar', edit_sorbate_sample_path(sorbate_sample) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Todas las muestras de Sorbato', sorbate_samples_path %>
</div>
