<p id="notice"><%= notice %></p>

<p>
  <strong>Tarja:</strong>
  <%= @sorbate_sample.element.tag %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @sorbate_sample.responsable %>
</p>

<p>
  <strong>Sorbato:</strong>
  <%= @sorbate_sample.sorbate %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sorbate_sample.status %>
</p>

<p>
  <strong>Creada:</strong>
  <%= date_time(@sorbate_sample.created_at) %>
</p>

<p>
  <strong>Ultima modificacion:</strong>
  <%= date_time(@sorbate_sample.updated_at) %>
</p>

<%=
# link_to 'Editar', edit_sorbate_sample_path(@sorbate_sample)
%> |
<%= link_to 'Atrás', :back, class: "btn btn-primary btn-xs" %>
