<p id="notice"><%= notice %></p>

<p>
  <strong>Tarja:</strong>
  <%= @sorbate_sample.element %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @sorbate_sample.responsable %>
</p>

<p>
  <strong>Sorbato:</strong>
  <%= @sorbate_sample.sorbate %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sorbate_sample.status %>
</p>

<%= link_to 'Editar', edit_sorbate_sample_path(@sorbate_sample) %> |
<%= link_to 'Volver', sorbate_samples_path %>
