<div class= "container-table">
<h2 class= "centered separated">Muestras de daños de  <span><%=process_name.capitalize%></span></h2>

<table class = "table table-striped table-tight">
  <thead>
    <tr>
      <th>#</th>
      <th></th>

      <%=common_table_headers%>
      <th>Tipo</th>
      <th>USDA</th>
      <th>DF07</th>

      <%=table_headers_damages(" (%)")%>
      <th>Total (%)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @damage_samples.each do |damage_sample| %>
      <tr>
        <td><%= damage_sample.counter %></td>
        <td><%= date_time(damage_sample.created_at)%></td>

        <%=common_table_body(damage_sample)%>
        <td><%=damage_sample.element.drying_method.name%></td>
        <td><%= damage_sample.usda %></td>
        <td><%= short_status(damage_sample) %></td>

        <%=table_body_damages(damage_sample, "%")%>
        <td><%=damage_sample.total_damages_perc.round(1)%></td>


        <!-- FIXME  secado_damage_sample_path(damage_sample)-->
        <td><%= link_to 'Ver', secado_damage_sample_path(damage_sample),  class: "btn btn-primary btn-xs" %></td>
        <%if access_edit_delete_sample_button%>
          <td><%= link_to 'Editar', edit_secado_damage_sample_path(damage_sample),  class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Eliminar', secado_damage_sample_path(damage_sample), method: :delete, data: { confirm: '¿Seguro que deseas eliminar la muestra?' },  class: "btn btn-danger btn-xs" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nueva muestra de daños', new_calibrado_damage_sample_path,  class: "btn btn-primary btn-xs" %>

</div>
<br>
