
<div class="container">

<p>Tu ip es: <%=@my_ip%></p>
<h2 class = "centered">Direcciones ip autorizadas</h2>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ip_addresses.each do |ip_address| %>
      <tr>
        <td><%= ip_address.ip %></td>
        <td><%= ip_address.comment %></td>
        <td><%= link_to 'Eliminar', ip_address, method: :delete, data: { confirm: '¿Estas seguro?' },  class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar ip permitida', new_ip_address_path, class: "centered btn btn-primary btn-xs" %>
</div>
