<p>Tu ip es: <%=@my_ip%></p>
<h1>Direcciones ip permitidas</h1>
<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ip_addresses.each do |ip_address| %>
      <tr>
        <td><%= ip_address.ip %></td>
        <td><%= ip_address.comment %></td>
        <td><%= link_to 'Destroy', ip_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar ip permitida', new_ip_address_path %>
