<div class="container">
  <h1>Usuarios</h1>

  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Creado</th>
        <th>Autorizado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= "fix"%></td>
          <td><%= user.created_at.strftime("%d/%b/%y")%></td>
          <td><%= "fix"%></td>

          <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro? Es irreversible' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
