<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Rol:</strong>
  <%=%>
</p>

<p>
  <strong>Correo:</strong>
    <%= @user.email %>
</p>

<p>
  <strong>ip actual:</strong>
  <%=request.remote_ip %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %>
