<br><br><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin' }) do |f| %>
<h2>¿Olvidaste tu contraseña?</h2>
  <%= devise_error_messages! %>

  <div class="field-sign-in">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar instrucciones a mi correo" %>
  </div>
  <br>
  <%= render "devise/shared/links" %>
<% end %>
