<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">AGSYS</a>-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">





<ul class="nav navbar-nav">


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%=link_to 'Productos', elements_path %></li>
        <li><%= link_to "Movimientos bodega", movements_path %></li>
        <li><%=link_to 'Informe calidad', reports_path %></li>
        <li><%=link_to 'Informe bodega', reports_warehouse_report_path %></li>
        <li><%=link_to 'Descargas', downloads_path%></li>
      </ul>
    </li>



      <li class="dropdown">
        <a class="<%="dropdown-toggle " + is_laboratorio()%>" data-toggle="dropdown" href="#">Laboratorio<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%=link_to 'Humedad', humidity_samples_path%></li>
          <li><%=link_to 'Sorbato', sorbate_samples_path%></li>
        </ul>
      </li>

          <li class="dropdown">
            <!-- <a class="dropdown-toggle selected" data-toggle="dropdown" href="#">Secado<span class="caret"></span></a> -->
            <a class="<%="dropdown-toggle " + selected("secado")%>" data-toggle="dropdown" href="#">Secado<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', secado_damage_samples_path%></li>
              <li><%=link_to 'Calibre', secado_caliber_samples_path%></li>
            </ul>
          </li>


          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("calibrado")%>" data-toggle="dropdown" href="#">Calibrado<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', calibrado_damage_samples_path%></li>
              <li><%=link_to 'Calibre y desviacion', calibrado_caliber_samples_path%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("seam")%>" data-toggle="dropdown" href="#">SEAM<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', seam_damage_samples_path%></li>
              <li><%=link_to 'Calibre y desviacion', seam_caliber_samples_path(process: "ensacado")%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("cn")%>" data-toggle="dropdown" href="#">CN<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', cn_damage_samples_path%></li>
              <li><%=link_to 'Calibre y desviacion', cn_caliber_samples_path%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("tsc")%>" data-toggle="dropdown" href="#">TSC<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', tsc_damage_samples_path%></li>
              <li><%=link_to 'Calibre y desviacion', tsc_caliber_samples_path%></li>
              <li><%=link_to 'Carozo en caja', tsc_carozo_samples_path%></li>
              <!-- NOTE Aqui iria T° -->
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("tcc")%>" data-toggle="dropdown" href="#">TCC<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', tcc_damage_samples_path%></li>
              <li><%=link_to 'Calibre y desviacion', tcc_caliber_samples_path%></li>
              <!-- NOTE Aqui iria T° -->
            </ul>
          </li>


      </ul>



      <ul class="nav navbar-nav navbar-right">
        <%if logged_user %>

        <li><%= link_to root_path, :class => "button small-button green-button" do %>
          <span class="glyphicon glyphicon-user"></span>
              <%=logged_user.name%>
        <% end %></li>

          <li><%= link_to get_destroy_session_path, method: :delete, :class => "button small-button green-button" do %>
            <span class="glyphicon glyphicon-log-out"></span>
                Cerrar Sesion
          <% end %></li>
        <% end %>
      </ul>



    </div>
  </div>
</nav>
