<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">AGSYS</a>-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

<ul class="nav navbar-nav">
  <!-- NOTE Esta es una fuente de tiempos excesivos  -->
  <!--TODO Que pasa aqui con el acceso al laboratorio, que no es un producto sino un proceso  -->
      <% if logged_user.has_access_to?("laboratorio")%>
        <%= render 'shared/quality_control_menu/laboratorio_li'%>
      <% end%>

      <% if logged_user.has_access_to?("recepción fresco")%>
        <%= render 'shared/quality_control_menu/recepción_fresco_li'%>
      <% end%>

      <% if logged_user.has_access_to?("recepcion seco")%>
        <%= render 'shared/quality_control_menu/recepción_seco_li'%>
      <% end%>

      <% if logged_user.has_access_to?("secado")%>
        <%= render 'shared/quality_control_menu/secado_li'%>
      <% end%>

      <% if logged_user.has_access_to?("calibrado")%>
        <%= render 'shared/quality_control_menu/calibrado_li'%>
      <% end%>

      <% if logged_user.has_access_to?("seam")%>
        <%= render 'shared/quality_control_menu/seam_li'%>
      <% end%>

      <% if logged_user.has_access_to?("cn")%>
        <%= render 'shared/quality_control_menu/cn_li'%>
      <% end%>

      <% if logged_user.has_access_to?("tsc")%>
        <%= render 'shared/quality_control_menu/tsc_li'%>
      <% end%>

      <% if logged_user.has_access_to?("tcc")%>
        <%= render 'shared/quality_control_menu/tcc_li'%>
      <% end%>


  </ul>



      <ul class="nav navbar-nav navbar-right">
        <%if logged_user %>

        <li><%= link_to root_path, :class => "button small-button green-button" do %>
          <span class="glyphicon glyphicon-user"></span>
              <%=logged_user.name%>
        <% end %></li>

          <li><%= link_to get_destroy_session_path, method: :delete, :class => "button small-button green-button" do %>
            <span class="glyphicon glyphicon-log-out"></span>
                Cerrar Sesion
          <% end %></li>
        <% end %>
      </ul>



    </div>
  </div>
</nav>
