<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">AGSYS</a>-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <!-- FIXME Agregar colores a botones cuando se cliquean -->
<ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Laboratorio<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%=link_to 'Humedad', new_humidity_sample_path%></li>
          <li><%=link_to 'Sorbato', new_sorbate_sample_path%></li>
        </ul>
      </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">#Recepción fresco#<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- FIXME Agregar que tipo de daño y calibre es -->
            <li><%=link_to 'Daños', new_damage_sample_path(process: "fresco") %></li>
            <li><%=link_to 'Calibre', new_caliber_sample_path(process: "fresco")%></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">#Recepción Sol#<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- FIXME Agregar que tipo de daño y calibre es -->
            <li><%=link_to 'Daños', new_damage_sample_path(process: "seco") %></li>
            <li><%=link_to 'Calibre', new_caliber_sample_path(process: "seco")%></li>
          </ul>
        </li>

          <li class="dropdown">
            <!-- <a class="dropdown-toggle selected" data-toggle="dropdown" href="#">Secado<span class="caret"></span></a> -->
            <a class="<%="dropdown-toggle " + selected("secado")%>" data-toggle="dropdown" href="#">Secado<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', new_secado_damage_sample_path%></li>
              <li><%=link_to 'Calibre', new_secado_caliber_sample_path%></li>
            </ul>
          </li>


          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("calibrado")%>" data-toggle="dropdown" href="#">Calibrado<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', new_calibrado_damage_sample_path%></li>
              <li><%=link_to 'Calibre y desviacion', new_calibrado_caliber_sample_path%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("seam")%>" data-toggle="dropdown" href="#">SEAM<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', new_seam_damage_sample_path%></li>
              <li><%=link_to 'Calibre y desviacion', new_caliber_sample_path(process: "ensacado")%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("cn")%>" data-toggle="dropdown" href="#">CN<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', new_cn_damage_sample_path%></li>
              <li><%=link_to 'Calibre y desviacion', new_caliber_sample_path(process: "ensacado")%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("tsc")%>" data-toggle="dropdown" href="#">TSC<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', new_tsc_damage_sample_path%></li>
              <li><%=link_to 'Calibre y desviacion', new_caliber_sample_path(process: "tiernizado")%></li>
              <li><%=link_to 'Carozo en caja', new_carozo_sample_path%></li>
              <li><%=link_to 'Temperatura###'%></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="<%="dropdown-toggle " + selected("tcc")%>" data-toggle="dropdown" href="#">TCC<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to 'Daños', new_tcc_damage_sample_path%></li>
              <li><%=link_to 'Calibre y desviacion', new_caliber_sample_path(process: "tiernizado")%></li>
              <li><%=link_to 'Carozo en caja', new_carozo_sample_path%></li>
              <li><%=link_to 'Temperatura###'%></li>
            </ul>
          </li>


      </ul>



      <ul class="nav navbar-nav navbar-right">
        <%if logged_user %>

        <li><%= link_to root_path, :class => "button small-button green-button" do %>
          <span class="glyphicon glyphicon-user"></span>
              <%=logged_user.name%>
        <% end %></li>

          <li><%= link_to get_destroy_session_path, method: :delete, :class => "button small-button green-button" do %>
            <span class="glyphicon glyphicon-log-out"></span>
                Cerrar Sesion
          <% end %></li>
        <% end %>
      </ul>



    </div>
  </div>
</nav>
