<div class="wrapper">
<form class="form-signin">
  <h2 class="form-signin-heading">Ingresa</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
      <%= f.submit "Ingresar", class: 'btn btn-lg btn-primary btn-block' %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</form>

</div>
