
<br>
<%= form_for(user_control, html: {class: 'form-basic', autocomplete: :off}) do |f| %>
<br>

  <% if user_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_control.errors.count, "error") %> prohibited this user_control from being saved:</h2>

      <ul>
      <% user_control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :contraseña %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar",  class: "btn btn-primary btn-lg btn-block" %>
  </div>

  <br>
  <%= link_to 'Atrás', user_controls_path %>
<% end %>
