<div class="container">
<h1>Controles de calidad</h1>

<table class = "table table-striped table-with-forms">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contraseña</th>
      <th>Creación</th>
      <th>Accesos permitidos</th>
      <!-- <th>#log ins</th>
      <th>#muestras</th> -->

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_controls.each do |user_control| %>
      <tr>
        <td><%= user_control.name %></td>
        <td><%= user_control.password %></td>
        <td><%= date(user_control.created_at) %></td>

        <td>

          <table>
            <tbody>
              <% user_control.operations.each do |op_access| %>
                <tr>
                  <td><%= op_access.name.capitalize %></td>
                  <td><%= link_to 'Quitar', remove_access_user_control_path(user_control, operation: op_access.id), method: :post, data: { confirm: '¿Seguro que deseas quitarle este acceso al control de calidad?' } %></td>
                </tr>
                <!-- , method: :delete -->
              <% end %>

              <tr class = "index_form">
                <%= form_tag(add_access_user_control_path(user_control), method: :post) do %>
                  <%= hidden_field_tag :user_control_id, user_control.id %>
                  <td>
                    <div class="field-table">
                      <% pp user_control.operations.to_a%>
                      <%= select_tag "operation",  options_for_select(@operations.where.not(id: user_control.operations.to_a).map{|o| [o.name,o.id]}), include_blank: true%>

                    </div>
                  </td>

                  <td>
                    <%= submit_tag "Agregar acceso",  class: "btn btn-primary btn-xs" %>
                </td>
                <% end %>
              </tr>
            </tbody>
          </table>

        </td>


        <td><%= link_to 'Editar', edit_user_control_path(user_control),  class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Eliminar', user_control, method: :delete, data: { confirm: '¿Seguro que deseas eliminar el usuario?' },  class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo control de calidad', new_user_control_path,  class: "btn btn-primary btn-xs" %>
</div>
