<!-- <div class="wrapper"> -->
<!-- <form class="form-signin"> -->
<br><br><br>
  <%= form_tag("/user_controls/create_session", class: 'form-signin') do |f| %>
  <h2 class="form-signin-heading">Control de calidad</h2>
    <div class="field-sign-in">
      <%= :Nombre %>
      <%= text_field_tag :name, '', autofocus: true, class:"form-control" %>
    </div>

    <div class="field-sign-in">
      <%= :Contraseña %>
      <%= text_field_tag :password, '',autocomplete: "off", class:"form-control", placeholder:"rut"%>
      <!-- TODO: Revisar que esto deba ser un password_field (pass oculta)  -->

    </div>

    <div class="actions">
      <%= submit_tag :Ingresar, class: 'btn btn-lg btn-primary btn-block' %>
        <!-- <input type="submit" value="Submit">%> -->
    </div>
  <% end %>


<!-- </form> -->
<!-- </div> -->
