<!-- <div class="wrapper"> -->
<!-- <form class="form-signin"> -->
  <h2 class="form-signin-heading">Ingreso control de calidad</h2>

  <%= form_tag("/user_controls/create_session") do |f| %>
    <div class="field">
      <%= :Nombre %>
      <%= text_field_tag :name, '', autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= :Contraseña %>
      <%= password_field :password, '',autocomplete: "off", class:"form-control", placeholder:"rut"%>
    </div>

    <div class="actions">
      <%= submit_tag :Ingresar, class: 'btn btn-lg btn-primary btn-block' %>
        <!-- <input type="submit" value="Submit">%> -->
    </div>
    <%= link_to 'Atras', root_path %>
  <% end %>


<!-- </form> -->
<!-- </div> -->
