<% if @humidity_sample.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@humidity_sample.errors.count, "error") %> prohibited this humidity_sample from being saved:</h2>
  <ul>
    <% @humidity_sample.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class= "container-samples">
  <div class= "pestaña">Laboratorio</div>
    <div class="outside-new-form green-outside-new-form">
      <h1><span class= "glyphicon glyphicon-list-alt"></span> Editar Humedad</h1>


<%= form_for(@humidity_sample, html: {class: 'inside-new-form green-inside-new-form', autocomplete: :off})  do |f| %>

  <div class="field">
    <%= f.label :Editar_Responsable %>
    <%= f.text_field :responsable %>
  </div>

  <div class="field">
    <%= f.label :editar_humedad %>
    <%= f.text_field :humidity %>
  </div>


  <!-- <div class="actions"> -->
  <div class="buttons-together-edit">
    <%= link_to 'Regresar', new_humidity_sample_path, class: "btn-back btn btn-primary btn-lg "%>
    <%= f.submit "Editar", class: "btn-edit btn btn-warning btn-lg" %>
  </div>
<!-- </div> -->

<% end %>


    </div>
  </div>
</div>
