<p id="notice"><%= notice %></p>


<div class="container">
<h1>Humidity Samples</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Element</th>
      <th>Responsable</th>
      <th>Humidity</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humidity_samples.each do |humidity_sample| %>
      <%if humidity_sample.state == "aprobado" %>
      <tr class="success">
      <%else%>
      <tr class= "danger">
        <%end%>



        <td><%= humidity_sample.element.tag %></td>
        <td><%= humidity_sample.responsable %></td>
        <td><%= humidity_sample.humidity %></td>
        <td><%= humidity_sample.state %></td>
        <td><%= link_to 'Show', humidity_sample %></td>
        <td><%= link_to 'Edit', edit_humidity_sample_path(humidity_sample) %></td>
        <td><%= link_to 'Destroy', humidity_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Humidity Sample', new_humidity_sample_path %>
