<div class="wrapper-new-forms">
  <h1><span class= "glyphicon glyphicon-list-alt"></span> Muestra humedad</h1>
<%= render 'form_new', humidity_sample: @humidity_sample %>
</div>


<div class="container-500px">
  <h1>Ultimos muestras de humedad</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Tarja</th>
      <th>Responsable</th>
      <th>Humedad</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humidity_samples.each do |humidity_sample| %>
      <tr>
        <td><%= humidity_sample.element.tag %></td>
        <td><%= humidity_sample.responsable %></td>
        <td><%= humidity_sample.humidity %></td>
        <td><%= humidity_sample.state %></td>

        <td><%=humidity_sample.created_at.strftime("%H:%M:%S")%></td>
        <!--(Time.now - humidity_sample.created_at).to_s + " secs ago"  -- time_ago_in_words(humidity_sample.created_at)-->

        <td><%= link_to 'Show', humidity_sample %></td>
        <td><%= link_to 'Edit', edit_humidity_sample_path(humidity_sample) %></td>
        <td><%= link_to 'Destroy', humidity_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Todas las muestras de humedad', humidity_samples_path %>
