<!-- <p id="notice"> notice </p> -->

<p>
  <strong>Element:</strong>
  <%= @humidity_sample.element.tag %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @humidity_sample.responsable %>
</p>

<p>
  <strong>Humedad:</strong>
  <%= @humidity_sample.humidity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @humidity_sample.status %>
</p>

<p>
  <strong>Creada:</strong>
  <%= date_time(@humidity_sample.created_at) %>
</p>

<p>
  <strong>Ultima modificacion:</strong>
  <%= date_time(@humidity_sample.updated_at) %>
</p>



<%= link_to 'Editar', edit_humidity_sample_path(@humidity_sample),  class: "btn btn-warning btn-xs" %> |
<%= link_to 'Atrás', humidity_samples_path,  class: "btn btn-primary btn-xs" %>
