<p>
  <strong>Responsable:</strong>
  <%= @carozo_sample.responsable %>
</p>

<p>
  <strong>Tarja:</strong>
  <%= @carozo_sample.element.tag %>
</p>

<p>
  <strong>Peso ciruelas con carozo:</strong>
  <%= @carozo_sample.carozo_weight %>
</p>

<p>
  <strong>Peso muestra:</strong>
  <%= @carozo_sample.sample_weight %>
</p>

<p>
  <strong>Porcentaje carozo (%):</strong>
  <%= @carozo_sample.carozo_percentage %>
</p>

<%=
# link_to 'Editar', edit_tsc_carozo_sample_path(@carozo_sample), class: "btn btn-warning btn-xs"
%> |
<%= link_to 'Atrás', :back, class: "btn btn-primary btn-xs" %>
