  <% url = set_url_for_form(type, caliber_sample) %>
  <% method =  set_form_method(type)%>

  <%= form_for(caliber_sample,  url: url, method: method, html: {class: 'inside-new-form validatable'}) do |f| %>
  <!-- , autocomplete: :off -->

    <%= f.hidden_field :responsable, value: logged_user.name %>

    <% if type == "new"  %>
      <div class="field">
        <%= f.label :Tarja %>
        <%= text_field_tag :tag, '', autocomplete: 'off' %>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :"con/sin carozo" %>
      <%= f.select :is_ex_caliber,  options_for_select([["sin_carozo", false], ["con_carozo", true]], selected: false, disabled: [true])%><!-- include_blank: true -->
    </div>

    <div class="field">
      <%= f.label :"peso_muestra (g)" %>
      <%= field_sample_weight(f) %>
    </div>
    <div class="field">
      <%= f.label :frutos_en_muestra %>
      <%= f.number_field :fruits_in_sample, min:0 %>
    </div>


    <% if @include_deviation%>
    <p>------------------ Desviación (en 2.830g) -----------------</p>
        <div class="field">
          <%= f.label :frutos_grandes %>
          <%= field_big_fruits_in_sample(type, caliber_sample, 0) %>
        </div>

        <div class="field">
          <%= f.label :frutos_pequeños %>
          <%= field_small_fruits_in_sample(type, caliber_sample, 0) %>
        </div>

    <% end %>

    <%= render 'shared/buttons', f: f, form_type: type%>
  <% end %>
