<% url = set_url_for_form(type, damage_sample) %>
<% method =  set_form_method(type)%>

<%= form_for(damage_sample, url: url, method: method, html: {class: 'inside-new-form green-inside-new-form'}) do |f| %>

<!--TODO en el futuro sacar el responsable como hidden field y asignarlo en el controller, basta que sea como nombre  -->
<%= f.hidden_field :responsable, value: logged_user.name %>

<div style="width: 100%;">
 <div style="float:left; width: 45%">
<!--Items at the left  -->


  <% if type == "new"  %>

    <div class="field">
      <%= f.label :tarja, class: "vertical"  %>
      <%= text_field_tag :tag, '', class: "vertical", autocomplete: 'off'%>
    </div>

    <div class="field">
      <%= f.label :tipo_de_secado, class: "vertical" %>
      <% text_field_tag :drying_method_id, '', class: "vertical" %>
      <%= select_tag "drying_method_id",  options_for_select(DryingMethod.all.map{|dm| [dm.name,dm.id]}), include_blank: true, class: "vertical" %>
    </div>

  <% end %>


  <div class="field">
    <%= f.label :peso_muestra, class: "vertical"  %>
    <%= f.text_field :sample_weight, class: "vertical", autocomplete: :off, placeholder: ' gramos' %>
  </div>

</div>


 <div style="float:right;">
   <!--Items at right  -->

   <%for damage in Util.damages_of_product_type(@process)%>
     <div class="field">
       <%= f.label translate_damage(damage) %>
       <%= f.number_field damage %>
     </div>
   <%end%>

 </div>
</div>
<div style="clear:both"></div>

<%= render 'shared/buttons', f: f, form_type: type%>

<% end %>
