
<%= form_tag caliber_samples_path, class: 'boxed-form', method: 'post', :multipart => true do |f| %>
  <% if @caliber_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caliber_sample.errors.count, "error") %> prohibited this caliber_sample from being saved:</h2>

      <ul>
      <% caliber_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= :Responsable %><br>
    <%= text_field_tag :responsable %>
  </div>

  <div class="field">
    <%= :Tag %><br>
    <%= text_field_tag :tag %>
  </div>


  <div class="field">
    <%= :fruits_in_sample %><br>
    <%= number_field_tag :fruits_in_sample, min: 0 %>
  </div>

  <div class="field">
    <%= :sample_weight %><br>
    <%= number_field_tag :sample_weight, min: 0 %>
  </div>

  <div class="actions">
    <%= submit_tag 'Almacenar'  %>
  </div>

<% end %>
