<%= render 'shared/message_success_js', caliber_sample: @caliber_sample %>
<%= render 'form_new', caliber_sample: @caliber_sample %>

<div class="container-500px">
  <h1>Ultimos muestras de calibre</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th> </th>
      <th>Responsable</th>
      <th>Tarja</th>
      <th>Frutos en muestra</th>
      <th>Peso muestra</th>
      <th>Calib.</th>
      <th>FG</th>
      <th>FP</th>
      <th>Desv</th>
      <th>Estado</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @caliber_samples.each do |caliber_sample| %>
      <tr>
        <td><%= time(caliber_sample.created_at) %></td>
        <td><%= caliber_sample.responsable.truncate(12) %></td>
        <td><%= caliber_sample.element.tag %></td>
        <td><%= caliber_sample.fruits_in_sample %></td>
        <td><%= caliber_sample.sample_weight %></td>
        <td><%= caliber_sample.caliber.name %></td>


        <td><%= caliber_sample.deviation_sample.big_fruits_in_sample if caliber_sample.deviation_sample %></td>
        <td><%= caliber_sample.deviation_sample.small_fruits_in_sample if caliber_sample.deviation_sample %></td>
        <td><%= caliber_sample.deviation_sample.deviation.round(0) if caliber_sample.deviation_sample  %></td>

        <%if caliber_sample.deviation_sample%>
          <td><%= short_status(caliber_sample.deviation_sample)%></td>
        <%else%>
          <td>-</td>
        <%end%>

        <td><%= link_to 'Ver', caliber_sample %></td>
        <td><%= link_to 'Editar', edit_caliber_sample_path(caliber_sample) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Todas las muestras de calibre', caliber_samples_path %>
</div>
