
<div class="container">
<h1>Muestras de Carozo</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Responsable</th>
      <th>Tarja</th>
      <th>Con carozo (gr)</th>
      <th>Peso muestra (gr)</th>
      <th>Porcentaje carozo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carozo_samples.each do |carozo_sample| %>
      <tr>
        <td><%= time(carozo_sample.created_at)%></td>
        <td><%= carozo_sample.responsable %></td>
        <td><%= carozo_sample.element.tag %></td>
        <td><%= carozo_sample.carozo_weight %></td>
        <td><%= carozo_sample.sample_weight %></td>
        <td><%= carozo_sample.carozo_percentage %></td>

        <td><%= link_to 'Ver', carozo_sample,  class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_carozo_sample_path(carozo_sample),  class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Eliminar', carozo_sample, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Nueva muestra de carozo', new_carozo_sample_path,  class: "btn btn-primary btn-xs" %>
</div>
