<td><%= round_or_nil(damage_sample.scars_perc) %></td>
<td><%= round_or_nil(damage_sample.mold_perc) %></td>
<td><%= round_or_nil(damage_sample.decay_perc) %></td>
<td><%= round_or_nil(damage_sample.deshidratado_perc) %></td>
<td><%= round_or_nil(damage_sample.bolsa_de_agua_perc) %></td>
<td><%= round_or_nil(damage_sample.ruset_perc) %></td>
<td><%= round_or_nil(damage_sample.reventados_perc) %></td>
