<td><%= round_or_nil(damage_sample.off_color_perc) %></td>
<td><%= round_or_nil(damage_sample.poor_texture_perc) %></td>
<td><%= round_or_nil(damage_sample.scars_perc) %></td>
<td><%= round_or_nil(damage_sample.skin_or_flesh_damage_perc) %></td>
<td><%= round_or_nil(damage_sample.fermentation_perc) %></td>
<td><%= round_or_nil(damage_sample.heat_damage_perc) %></td>
<td><%= round_or_nil(damage_sample.insect_injury_perc) %></td>
<td><%= round_or_nil(damage_sample.mold_perc) %></td>
<td><%= round_or_nil(damage_sample.dirt_perc) %></td>
<td><%= round_or_nil(damage_sample.foreign_material_perc) %></td>
<td><%= round_or_nil(damage_sample.insect_infestation_perc) %></td>
<td><%= round_or_nil(damage_sample.decay_perc) %></td>
