<%= form_for(deviation_sample) do |f| %>
  <% if deviation_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deviation_sample.errors.count, "error") %> prohibited this deviation_sample from being saved:</h2>

      <ul>
      <% deviation_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caliber_sample_id %>
    <%= f.text_field :caliber_sample_id %>
  </div>

  <div class="field">
    <%= f.label :big_fruits_in_sample %>
    <%= f.number_field :big_fruits_in_sample %>
  </div>

  <div class="field">
    <%= f.label :small_fruits_in_sample %>
    <%= f.number_field :small_fruits_in_sample %>
  </div>

  <div class="field">
    <%= f.label :sample_weight %>
    <%= f.number_field :sample_weight %>
  </div>

  <div class="field">
    <%= f.label :big_fruits_per_pound %>
    <%= f.text_field :big_fruits_per_pound %>
  </div>

  <div class="field">
    <%= f.label :small_fruits_per_pound %>
    <%= f.text_field :small_fruits_per_pound %>
  </div>

  <div class="field">
    <%= f.label :deviation %>
    <%= f.text_field :deviation %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.check_box :state %>
  </div>

  <div class="field">
    <%= f.label :state_revised %>
    <%= f.check_box :state_revised %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
