<!DOCTYPE html>
<html>
  <head>
    <title>Agsinformationsystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar_quality_controls' %>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    
    <%if not notice.nil?%>
      <p class="notice alert alert-success" role="alert"><%= notice %></p>
     <%end%>
     <%if not alert.nil?%>
       <p class="alert alert alert-danger" role="alert"><%= alert %></p>
     <%end%>

    <%= yield %>
  </body>
</html>
