<!DOCTYPE html>
<html>
  <head>
    <title>Agsinformationsystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Premite el no cacheo de las vistas. Se actualizaran c/vez q se apriete back -->
    <!--FIXME Ver manera de solo habilitar para ciertas paginas-->
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar_quality_controls' %>

    <%if not notice.nil?%>
      <p class="notice alert alert-success" role="alert"><%= notice %></p>
     <%end%>
     <%if not alert.nil?%>
       <p class="alert alert alert-danger" role="alert"><%= alert %></p>
     <%end%>

     <!--FIXME: Borrar esto al final, es solo de ayuda  -->
     <%if current_user %>
      USUARIO regular CON SESION INICIADA <br>
     <%end%>
     <%if session[:user_id] %>
      USER CONTROL session inicada<br>
     <%end%>

    <%= yield %>
  </body>
</html>
